@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.sign-in-background {
  background-image: url("./signinbg.png");
  background-size: cover;
  height: 92vh;
  overflow: hidden;
}

.sign-up,
.sign-in-text {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up {
  font-size: 4.5em;
  margin-top: 2em;
}

.sign-in-text {
  font-size: 1.125em;
}

.form-control,
.form-select {
  font-size: medium !important;
}

.form-control:hover,
.form-control:focus,
.form-select:focus,
.form-select:hover {
  box-shadow: 0 0 1em #000013;
}

.submitbtn {
  margin-left: 3em;
}

.sign-in-btn {
  font-family: 'Inter', sans-serif;
  --primary-color: linear-gradient(180deg, #4879F0 0%, #1F28A0 100%);
  --secondary-color: #FFFFFF;
  --hover-color: #111111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  color: var(--secondary-color);
  box-sizing: border-box;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

.sign-in-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s background;
}

.sign-in-btn .arrow::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.sign-in-btn:hover {
  background: var(--hover-color);
}

.sign-in-btn:hover .arrow {
  background: var(--secondary-color);
}

.sign-in-btn:hover .arrow:before {
  right: 0;
}
