.bodylaboutput{
    background-image: url("./labinput.png");
    background-size: full;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 20px;
    margin-bottom: -2%;
}

.prevbutton {
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(#507ee7, #222fa6);
    border-radius: 13px;
}

.divinputtime {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.textinputtime {
    color: white;
    padding-right: 10px;
}

.tableoutputcontainer {
    /*width: 100%;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
  
.square-after {
    position: relative;
    width: 90%;
    height: 85%;
    box-sizing: border-box;
    background-color: white;
    opacity: 92%;
    border-radius: 10px;
    z-index: -0;
    overflow: scroll;
}

.laboratorytest-after{
    text-align: center;
    color: black;
    padding-top: 30px;
}

.completebloodcount-after{
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

.timeanddate {
    background-color: white;
    border-radius: 8px;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 15px;
    margin-right: -12px;
}

.buttonCheck {
    color:#31dc26;
    padding-right: 5px;
}

.testagain {
    border: none;
    color: white;
    background-image: linear-gradient(#507ee7, #222fa6);
    font-size: 15px;
    text-align: center;
    height: 35px;
    width: 150px;
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 10%;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: none;
    padding: 10px;
}

tr:first-child th {
    border-top: 1px solid black;
}

tr:last-child td {
    border-bottom: 1px solid black;
}

tr td:first-child {
    border-left: 1px solid black;
}

tr td:last-child {
    border-right: 1px solid black;
}

.outouttable{
    margin: auto; /* center the table horizontally */
    height: 90%;
    width: 80%;
}

.cellspacing {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.column1 {
    padding-left: 5 rem;
    width: 80%;
    text-align: left;
}

.column2 {
    float: center;
    width: 20%;

}
