.bodylabinput{
    background-image: url("/src/assets/labinput.png");
    background-size: full;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 20px;
    margin-bottom: -2%;
}

.prevbutton {
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(#507ee7, #222fa6);
    border-radius: 13px;
}

.divinputtime {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.inputtime[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: white;
    cursor: pointer;
    height: auto;
    width: auto;
    display: flex;
}

.textinputtime {
    color: white;
    padding-right: 10px;
}

.inputtime {
    border: none;
    background: white;
    color: black;
    font-size: 15px;
    z-index: 2;
}

.tableinput {
    /*width: 100%;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
  
.square {
    position: relative;
    width: 90%;
    height: 85%;
    box-sizing: border-box;
    background-color: #161389;
    opacity: 92%;
    border-radius: 10px;
    z-index: -0;
    overflow: scroll;
}
.laboratorytest{
    text-align: center;
    color: white;
    padding-top: 60px;
}
.completebloodcount{
    text-align: center;
    color: white;
}
.formcontainer {
    min-height: 55vh;
    margin-top:50px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    justify-content: center;
    text-align: left;
    padding-left: 50px;
}
.inlinename {
    display: inline-block;
    padding-left: 10px;
    color: white;
    padding-left: 20px;
}
.buttonCheck {
    color:#31dc26;
    padding-right: 5px;
}
.inputfield {
    border-radius: 8px;
    padding: 15px 32px;
    color: black;
    margin-bottom: 10px;
}
.submit {
    border: none;
    color: white;
    padding: 5px 25px;
    float: right;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(#507ee7, #222fa6);
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: 30px;
}

